.Rproj.user
.Rhistory
.RData
.Ruserdata

.Rapp.history

# RStudio files
.Rproj.user
.Rproj.user/

# Paper drafts
drafts

# Large models
04_analysis/03_models/02_bayesian

# Misc
desktop.ini
.DS_Store
.Ruserdata
.Rproj.user
Icon?
